<div class="page-pictures structure">
    <div class="col-1-2">
        <ul>
            <li><a href="#pictures/1/sports">Sports</a></li>
            <li><a href="#pictures/2/sports">Sports</a></li>
            <li><a href="#pictures/3/sports">Sports</a></li>
            <li><a href="#pictures/4/sports">Sports</a></li>
            <li><a href="#pictures/5/sports">Sports</a></li>
            <li><a href="#pictures/6/sports">Sports</a></li>
            <li><a href="#pictures/7/sports">Sports</a></li>
            <li><a href="#pictures/8/sports">Sports</a></li>
            <li><a href="#pictures/9/sports">Sports</a></li>
            <li><a href="#pictures/10/sports">Sports</a></li>
        </ul>        
    </div>
    <div class="col-1-2">

        <% if (typeof(pic.name) !== "undefined") { %>
            <img src="http://lorempixel.com/400/200/<%= pic.name %>/<%= pic.id %>/" />
        <% } %>
    
        
    </div>
</div>